$prefix-class: ".ReactAlert";
$message-color : rgba(0, 0, 0, 0.85);


$info-color : #1890ff;
$info-backround:#f1faff;
$info-color-flat : #02587f;
$info-background-flat : #cdeefd;

$success-color : #52c41a;
$success-backround:#f6ffed;
$success-color-flat : #285b2a;
$success-background-flat : #dbefdc;

$error-color : #f5222d;
$error-backround:#fff4f3;
$error-color-flat : #7f231c;
$error-background-flat : #fdd9d7;

$warning-color : #faad14;
$warning-backround:#fdfaeb;
$warning-color-flat : #ffaa00;
$warning-background-flat : #fdfaeb;

$primary-color-flat : #212a5e;
$primary-background-flat : #d9dcf0;

$dark-color : #e2e3e5;
$light-color : #7f7f7f;



$ease-in-out-circ:cubic-bezier(0.78, 0.14, 0.15, 0.86);
$text-color:rgba(0, 0, 0, 0.65);
$text-color-secondary:rgba(0, 0, 0, 0.45);
$line-height-base:1.5;
$font-size-lg:20px;
$font-size-base:16px;
$font-size-sm:12px;
